-var page = 'THANK YOU!'
doctype html
html(lang="ro")
  include models/head
  body
    .page--wraper
      include models/header
      main.page--content content
      include models/footer
    include models/scripts
