footer.page--footer
  .container
    .row
      .col.sm-6 
        .copyryght © IM “Puratos-Mold” SRL, 2018 
          small Developed in 
            a(href="http://www.meta.md" target="_blank") www.meta.md
      .col.sm-6 
        .dropdown
          .dropdown--toggle(data-toggle="dropdown")
            span Romanian
            svg: use(xlink:href="#caret")
          .dropdown--menu
            a(href="").active Romanian
            a(href="") English
