// SCRIPTS 
script(src="js/jquery-3.3.1.min.js")
script(src="js/main.min.js")
if page == 'HOME'
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIjN23OujC_NdFfvX4_AuoGBbkx7aHMf0&callback=initMaps", async defer)
script(src="js/app.js")
